* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body {
    background-color: #0a0c1b;
    

}
@media (min-width:768px) {
    body {
        background-color: #0a0c1b;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        
    
    }
}
.profile {
    color: white;
}
.profile .container {
    display: flex;
    margin: auto;
    width: 800px;
    height: 300px;
}

.profile .container .info {
    flex-basis: 50%;
    background-color: #1c1938;
    padding: 30px 40px 30px 40px;
    max-width: 100%;
}
.profile .container .info h1 {
    font-size: 30px;
}
.profile .container .info h1 span {
    color: #ab5cd9;
}
.profile .container .info p:nth-child(2) {
    color: #777;
    line-height: 1.3;
    font-size: 13px;
    margin-bottom: 40px;
}
.profile .container .info .number span {
    padding: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}
.profile .container .info .rad p {
    display: inline;
    padding: 21px;
    font-size: 9px;
    text-transform: uppercase;
    color: #777;
}
.profile .container .image {
    flex-basis: 50%;
    position: relative;
    
}
.profile .container .image::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(83, 45, 106 , 70%);
  
}
.profile .container img {
    width: 400px;
    height: 300px;
    max-width: 100%;
}
@media (max-width:767px){
    body {
        
        padding: 30px 8px ;
       
    
    }
    .profile .container {
        flex-direction: column;
        height: 150px;
        width: 330px;

    }
    .profile .container .info {
        flex-basis: 90%;
        position: relative;

    }
    .profile .container .info h1 {
        text-align: center;
        font-weight: bold;
        font-size: 30px;
    }
    .profile .container .info p {
        text-align: center;
        font-size: 17px;
        padding-top: 25px;
        padding-bottom: 25px;
    
    }
    .profile .container .info .number {
     position: relative;
    }
    .profile .container .info .number span {
       display: block;
        text-align: center;
    }
    .profile .container .info .rad {
        position: absolute;position: absolute;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
    }
    .profile .container .info .rad p {
       display: block;
       padding: 26px;
       color: #777;

    }
    .profile .container .image {
        order: -1;
        flex-basis: 10%;
        width: -moz-fit-content;
    }
   
}